@charset "UTF-8"
*{
    /*height: 100%;*/
    font-family: Arial, Helvetica, sans-serif}
p{
    text-align: justify;
}

body{
    background-image: linear-gradient(to bottom, #59F5DE, #8FFACE,#C6FAE0, #66EBC5,#10F0E2);
    
}
main{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(24, 224, 250, 0.719);
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    color: #0f3c9bef;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(129, 77, 5, 0.726);
}
h2{
    color: #6077dd;
    
}
